
<title>ParkRate</title>
   <body>
   <header>
      <p class="head-title"> United States National Parks Reviews </p>
      <p> The place to find first hand info on all United States National Parks! </p>	
   </header>	
   
   <nav> 
   <ul>
	<li><a href="/">Home</a></li>
	<li><a href="#">Photos</a></li>
	<li><a href="#">Review Us!</a></li>
   </ul>	
   </nav>
   </body>