      <article class="single-park">
          <div class="park-name"> {{name}} </div>
		  <div class="park-content">
		  
			{{#each thumbnails}}
				<img class="photo_slot" src = {{thumbnail}} alt= ({{alt-text}}) ></img>
			{{/each}}
				
			
        </div>
      </article>