header {
  background-color: #6B7A7B;
  margin: auto;
  padding: 5px;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.head-title{
	color: black;
	font-size: 25px;
	position: relative;
	width: 75%;
	margin-left: 12.5%;
	margin-right: 12.5%;
	border-bottom: 2px solid white;
}

nav{
	margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

html {
  margin: 0;
  background-color: #c0c5d3;
  background-position: center;
}

.photos-container {
  text-align: center;
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  flex-direction: row;
  position: absolute;
}

.park-name {
	background-color: #6B7A7B;
	background-position: center;
	margin-bottom: 5px;
	color: white;
}

.single-park {
	padding: 5px;
	margin: 20px;
	width: 300px;
	justify-content: center;
}

.park-content {
	display: flex;	
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
	justify-content: right;
}

.photo-slot {
	margin: 0;
	padding: 0;	
}

.photo-slot {
	height: 150px;
	width: 150px;
}

button{
	background-color: #6B7A7B;
	color: white;
	border: 2px white;
	/* border-color: white; */
	/* border-style: solid; */
	margin-top: 3px;
}

a{
	padding-right: 10px;
	padding-left: 10px;
	text-decoration: none;
	color: white;
}

li {
	text-decoration: none;
	display: inline-block;
	background-color: #6B7A7B;
	margin-right: 5px;
}

ul{
	display: inline-block;
}
