header {
  background-color: #6B7A7B;
  margin: auto;
  padding: 15px;
  text-align: center;
  width: 100%
}
body {
  margin: 0;
}

html {
  margin: 0;
  background-color: #5E574D;
  background-position: center;
}

.container {
  background-color: #BCD979;
  border-radius: 10px;
  padding: 10px;
}

.navigation {
  text-align:center;  
  justify-content: center;
}

.navigation-item {
  background-color: #9DAD6F;
  padding: 10px;
  display: inline;
  border-radius: 15px;
}

